<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control" placeholder=""
            formControlName="name" [ngClass]="{'is-invalid':submitted && form.get('name')?.errors}">
            <small id="helpId" class="text-muted">Enter your full name</small>
            <div *ngIf="submitted && form.get('name')?.hasError('required')" class="invalid-feedback">
                Name is required.
            </div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder=""
            formControlName="email" [ngClass]="{'is-invalid':submitted && form.get('email')?.errors}">
            <small id="helpId" class="text-muted">Enter your Email address</small>
            <div *ngIf="submitted && form.get('email')?.errors" class="invalid-feedback">
                <div *ngIf="form.get('email')?.hasError('required')">
                    Email is required.
                </div>
                <div *ngIf="form.get('email')?.hasError('email')">
                Invalid email format
                </div>
            </div>
                
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder=""
            formControlName="username" [ngClass]="{'is-invalid':submitted && form.get('username')?.errors}">
            <small id="helpId" class="text-muted">Your username for login</small>
            <div *ngIf="submitted && form.get('username')?.errors" class="invalid-feedback">
                <div *ngIf="form.get('username')?.hasError('required')">
                    Username is required.
                </div>
                <div *ngIf="form.get('username')?.hasError('minlength')">
                    Minimum length is 6.
                </div>
                <div *ngIf="form.get('username')?.hasError('maxlength')">
                    Maximum length is 20.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder=""
            formControlName="password" [ngClass]="{'is-invalid':submitted && form.get('password')?.errors}">
            <small id="helpId" class="text-muted">Password</small>
            <div *ngIf="submitted && form.get('password')?.errors" class="invalid-feedback">
                <div *ngIf="form.get('password')?.hasError('required')">
                    Password is required.
                </div>
                <div *ngIf="form.get('password')?.hasError('minlength')">
                    Minimum length is 6.
                </div>
                <div *ngIf="form.get('password')?.hasError('maxlength')">
                    Maximum length is 20.
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" (click)="OnReset()">Clear</button>
    </form>
</div>