<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- input defined in child class -->
<!-- <app-item-list [itemList]="items" (newItemEvent)="onItemReceived($event)"></app-item-list>  -->
<router-outlet></router-outlet>

<!-- <app-animal-form></app-animal-form> -->
<app-employee-form></app-employee-form>

<!-- <div *ngIf="selectedItems">
  <h3>You have selected the item {{selectedItems.name}}.</h3>
</div> -->