<div class="container">
    <h1>Create New Animal</h1>

    <form #animalForm="ngForm" (ngSubmit)="animalForm.form.valid && onSubmit(animalForm)" novalidate>
        <div class="mb-3">
          <label for="id" class="form-label">id</label>
          <input type="number" name="id" id="id" class="form-control" placeholder="Unique Id" required #id="ngModel" ngModel
          [ngClass]="{'is-invalid': animalForm.submitted && id.errors}">
          <div class="invalid-feedback">
            Please provide an ID. (Mandatory field)
          </div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Animal Name" required minlength="3" maxlength="20" #name="ngModel" ngModel 
          [ngClass]="{'is-invalid': animalForm.submitted && name.errors}">
          <div *ngIf="animalForm.submitted && name.errors" class="invalid-feedback">
            <div *ngIf="name.errors['required']">
                Animal name is required. (Mandatory field)
            </div>
            <div *ngIf="name.errors['minlength']">
                Animal name must be at least 3 characters
            </div>
            <div *ngIf="name.errors['maxlength']">
                Animal name cannot be more than 20 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="lifespan" class="form-label">Life Span</label>
          <input type="number" name="lifespan" id="lifespan" class="form-control" placeholder="Life in year" #lifespan="ngModel" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" (click)="OnReset(animalForm)">Clear</button>
    </form>
</div>